<!-- Navigation -->
<nav class="navbar" id="navbar">
    <div class="container">
        <a href="/" class="logo">
            <img src="<%= bot.avatar %>" alt="<%= bot.name %>">
            <span>VOCAL VIBES</span>
        </a>
        <ul class="nav-links">
            <li><a href="/commands" class="nav-link">Commands</a></li>
            <li><a href="/docs" class="nav-link">Docs</a></li>
            <li><a href="/status" class="nav-link">Status</a></li>
            <li><a href="/report" class="nav-link">Report</a></li>
            <li><a href="<%= bot.inviteUrl %>" class="nav-link btn-nav" target="_blank"><i class="fas fa-plus"></i> Invite</a></li>
        </ul>
        <div class="mobile-menu" id="mobileMenu">
            <span></span><span></span><span></span>
        </div>
    </div>
</nav>
